# Use the Google style
BasedOnStyle: Google

# Align references to the left as in "int& foo"
PointerAlignment: Left
DerivePointerAlignment: false

# Align access modifiers to the left
AccessModifierOffset: -2

# Don't add indentation level for namespaces
NamespaceIndentation: Inner

# Sort includes by category and in alphabetical order inside category
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^<[^.]*>$'
    Priority: 1
  - Regex:    '^<.*>$'
    Priority: 2
  - Regex:    '^".*"$'
    Priority: 3
  - Regex:    '.*'
    Priority: 4
SortIncludes: CaseSensitive

# Disable tabs
TabWidth: 2
UseTab: Never

# Set indentation
IndentWidth: 2

# Set line length
ColumnLimit: 100

# Imported from other projects
AlwaysBreakTemplateDeclarations: Yes
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
Cpp11BracedListStyle: true
AlignConsecutiveAssignments: None
AlignTrailingComments: true
SpaceAfterCStyleCast: true
