# Use the Google style
BasedOnStyle: Google

# Align references to the left as in "int& foo"
PointerAlignment: Left
DerivePointerAlignment: false

# Align access modifiers to the left
AccessModifierOffset: -2

# Don't add indentation level for namespaces
NamespaceIndentation: None

# Sort includes by category and in alphabetical order inside category
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^<[^.]*>$'
    Priority: 1
  - Regex:    '^<.*>$'
    Priority: 2
  - Regex:    '^".*"$'
    Priority: 3
  - Regex:    '.*'
    Priority: 4
SortIncludes: CaseSensitive

# Disable tabs
TabWidth: 2
UseTab: Never

ColumnLimit: 100
