# Configuration file for EditorConfig
# More information is available at http://EditorConfig.org

# Ignore any other EditorConfig files further up in the file system
root = true

# Configuration for all files
[*]
# Enforce Unix style line endings (\n only)
end_of_line = lf
# Always end files with a blank line
insert_final_newline = true
# Force space characters for indentation
indent_style = space
# Remove whitespace characters at the end of line
trim_trailing_whitespace = true
# Use UTF-8 charset
charset = utf-8

# Configuration for C/C++ files
[*.{c,cc,cpp,cxx,h,hh,hpp,hxx}]
# Use two spaces for indentation
indent_size = 2

# Configuration for CMake files
[{CMakeLists.txt,*.cmake}]
# Use four spaces for indentation
indent_size = 2

# Configuration for Makefiles
[Makefile]
# Use tab character for indentation
indent_style = tab
# Use four spaces for indentation
indent_size = 4
