# Don't search for additional CPPLINT.cfg in parent directories.
set noparent

# Limit line length.
linelength=100

# Ignore the following categories of errors, as specified by the filter:
# (the filter settings are concatenated together)
filter=-legal/copyright
filter=-build/namespaces
filter=-build/include_order
